
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/videoCourses.css">
    <style>
        li {
            list-style-type: circle !important;
            margin-left: 40px !important;
        }
    </style>
    <script src="../js/icons.js"></script>
        <section style="margin-top: 30px;">
            <div class="container">
                <h2>Grammar</h2>
                <h3><b>Title: {{grammar.title}} </b></h3>
            </div>
            <div class="container" style="margin-top:30px">
                <div class="content" id="grammar-content">
    
                </div>
                <input type="hidden"  id="input-content" value="{{grammar.grammar_content}}">
            </div>
        </section>

        <!----------------------NEXT LESSON---------------------->

        <section>
            <div class="continue-lesson container">
                <h3>Watch next <i class='bx bxs-right-arrow-square bx-fade-right' style="color: var(--danger-color);font-size: 20px;" ></i></h3>
                <div class="lessons">
                    <div class="lesson-card">
                        <div class="lesson-card-left">
                            <a href="lesson.html" class="lesson-card__index">
                                <b>Lesson 2</b>
                            </a>
                            <div class="lesson-card__time">
                                <i class='bx bx-time-five' style='color:#7d7d7d'>10-12-2021</i> 
                            </div>
                            <div class="lesson-card__content">
                                How to make radical climate action the new normal
                            </div>
                        </div>
                        <a href="lesson.html" class="lesson-card-right">
                            <i class="far fa-play-circle"></i>
                            <div class="lesson-length">13:45</div>
                            <img src="../../assets/images/AlGore_2021T-embed.jpg" alt="Anh dai dien">
                        </a>
                        
                    </div>
                    <div class="lesson-card">
                        <div class="lesson-card-left">
                            <a href="lesson.html" class="lesson-card__index">
                                <b>Lesson 2</b>
                            </a>
                            <div class="lesson-card__time">
                                <i class='bx bx-time-five' style='color:#7d7d7d'>10-12-2021</i> 
                            </div>
                            <div class="lesson-card__content">
                                How to make radical climate action the new normal
                            </div>
                        </div>
                        <a href="lesson.html" class="lesson-card-right">
                            <i class="far fa-play-circle"></i>
                            <div class="lesson-length">13:45</div>
                            <img src="../../assets/images/AlGore_2021T-embed.jpg" alt="Anh dai dien">
                        </a>
                        
                    </div>
                    <div class="lesson-card">
                        <div class="lesson-card-left">
                            <a href="#" class="lesson-card__index">
                                <b>Lesson 2</b>
                            </a>
                            <div class="lesson-card__time">
                                <i class='bx bx-time-five' style='color:#7d7d7d'>10-12-2021</i> 
                            </div>
                            <div class="lesson-card__content">
                                How to make radical climate action the new normal
                            </div>
                        </div>
                        <a href="#" class="lesson-card-right">
                            <i class="far fa-play-circle"></i>
                            <div class="lesson-length">13:45</div>
                            <img src="../../assets/images/AlGore_2021T-embed.jpg" alt="Anh dai dien">
                        </a>
                        
                    </div>
                    <div class="lesson-card">
                        <div class="lesson-card-left">
                            <a href="#" class="lesson-card__index">
                                <b>Lesson 2</b>
                            </a>
                            <div class="lesson-card__time">
                                <i class='bx bx-time-five' style='color:#7d7d7d'>10-12-2021</i> 
                            </div>
                            <div class="lesson-card__content">
                                How to make radical climate action the new normal
                            </div>
                        </div>
                        <a href="#" class="lesson-card-right">
                            <i class="far fa-play-circle"></i>
                            <div class="lesson-length">13:45</div>
                            <img src="../../assets/images/AlGore_2021T-embed.jpg" alt="Anh dai dien">
                        </a>
                        
                    </div>
                    <div class="lesson-card">
                        <div class="lesson-card-left">
                            <a href="#" class="lesson-card__index">
                                <b>Lesson 2</b>
                            </a>
                            <div class="lesson-card__time">
                                <i class='bx bx-time-five' style='color:#7d7d7d'>10-12-2021</i> 
                            </div>
                            <div class="lesson-card__content">
                                How to make radical climate action the new normal
                            </div>
                        </div>
                        <a href="#" class="lesson-card-right">
                            <i class="far fa-play-circle"></i>
                            <div class="lesson-length">13:45</div>
                            <img src="../../assets/images/AlGore_2021T-embed.jpg" alt="Anh dai dien">
                        </a>
                        
                    </div>
                    <div class="lesson-card">
                        <div class="lesson-card-left">
                            <a href="#" class="lesson-card__index">
                                <b>Lesson 2</b>
                            </a>
                            <div class="lesson-card__time">
                                <i class='bx bx-time-five' style='color:#7d7d7d'>10-12-2021</i> 
                            </div>
                            <div class="lesson-card__content">
                                How to make radical climate action the new normal
                            </div>
                        </div>
                        <a href="#" class="lesson-card-right">
                            <i class="far fa-play-circle"></i>
                            <div class="lesson-length">13:45</div>
                            <img src="../../assets/images/AlGore_2021T-embed.jpg" alt="Anh dai dien">
                        </a>
                        
                    </div>
                </div>
            </div>
        </section>

        <!------------------------FOOTER------------------------->
        <section class="footer" id="footer">

        </section>
    </div>

    <!--------------------ADD JS------------------------->
    <script src="../js/navigation.js"></script>
    <script src="../js/searchbar.js"></script>
    <script src="../js/footer.js"></script>
    <script src="../js/darkmode.js"></script>
    <script src="../js/index.js"></script>
    <script src="../js/loader.js"></script>
    <script src="../js/grammar.js"></script>
</body>