<div class='container'>
    <div class='add-course'>
        <div class='left-sidebar col-2'>
            <ul>
                <li class='sidebar-active'><a href='/courses/create'>Post Course</a></li>
                <li><a href='/me/stored/courses'>All Courses</a></li>
                <li><a href='/me/stored/grammars'>Grammar</a></li>
            </ul>
        </div>
        <div class='main-content col-10'>
            <div class=''>
                <div class='mt-4'>
                    <div class='header-title'>
                        <h2>Add Course</h2>
                        <a
                            href='/me/stored/courses'
                            class='btn btn-danger'
                            role='button'
                            aria-pressed='true'
                        >Back</a>
                    </div>

                    <form method='post' action='store' enctype='multipart/form-data'>
                        <div class='form-group'>
                            <label for='name'>Name</label>
                            <input
                                type='text'
                                class='form-control col-12 form-add-course'
                                id='name'
                                placeholder='Enter name'
                                name='name'
                                value='{{oldInput.name}}'
                            />
                            <label for='description'>Description</label>
                            <textarea
                                class='form-control col-12 form-add-course'
                                iD='description'
                                placeholder='Enter description'
                                name='description'
                            >{{oldInput.description}}</textarea>

                            <label for='image'>Image</label>
                            <input
                                type='file'
                                class='form-control col-12 form-add-course'
                                id='image'
                                name='image'
                                style='border: 1px solid black;'
                            />
                            <label>Type</label>
                            <div class='form-check'>
                                <input
                                    class='form-check-input'
                                    type='radio'
                                    name='type'
                                    id='type1'
                                    value='audio'
                                />
                                <label class='form-check-label' for='type1'>
                                    Audio
                                </label>
                            </div>
                            <div class='form-check'>
                                <input
                                    class='form-check-input'
                                    type='radio'
                                    name='type'
                                    id='type2'
                                    value='video'
                                    checked
                                />
                                <label class='form-check-label' for='type2'>
                                    Video
                                </label>
                            </div>
                        </div>

                        {{#if errorMessage}}
                            <div
                                class='alert alert-danger'
                                style=' text-align:center;color:red; background-color: aqua; '
                                role='alert'
                            >
                                {{errorMessage}}
                            </div>
                        {{/if}}

                        <button type='submit' class='btn btn-primary'>Add course</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>