<div class='mt-4'>
    <h2>Đăng khóa học</h2>
    <form method='post' action='store'>
        <div class='form-group'>
            <label for='name'>Name</label>
            <input
                type='text'
                class='form-control'
                id='name'
                placeholder='Enter name'
                name='name'
            />
            <label for='description'>Description</label>
            <textarea
                class='form-control'
                id='description'
                placeholder='Enter description'
                name='description'
            ></textarea>
            <label for='videoid'>Video Id</label>
            <input
                type='text'
                class='form-control'
                id='videoid'
                placeholder='Enter videoid'
                name='videoId'
            />
            <label for='level'>Level</label>
            <input
                type='text'
                class='form-control'
                id='level'
                placeholder='Enter level'
                name='level'
            />

        </div>

        <button type='submit' class='btn btn-primary'>Thêm khóa học</button>
    </form>
</div>