<div class='mt-4'>
    <h2>Add course</h2>
    <form method='post' action='store' enctype='multipart/form-data'>
        <div class='form-group'>
            <label for='name'>Name</label>
            <input
                type='text'
                class='form-control'
                id='name'
                placeholder='Enter name'
                name='name'
            />
            <label for='description'>Description</label>
            <textarea
                class='form-control'
                iD='description'
                placeholder='Enter description'
                name='description'
            ></textarea>

            <label for='image'>Image</label>
            <input type='file' class='form-control' id='image' name='image' />
            <label>Type</label>
            <div class='form-check'>
                <input class='form-check-input' type='radio' name='type' id='type1' value='audio' />
                <label class='form-check-label' for='type1'>
                    Audio
                </label>
            </div>
            <div class='form-check'>
                <input
                    class='form-check-input'
                    type='radio'
                    name='type'
                    id='type2'
                    value='video'
                    checked
                />
                <label class='form-check-label' for='type2'>
                    Video
                </label>
            </div>
        </div>

        <button type='submit' class='btn btn-primary'>Add course</button>
    </form>
</div>