<div class='mt-4'>
    <h2>Edit course</h2>
    <form method='post' action='/courses/{{course._id}}?_method=PUT' enctype='multipart/form-data'>
        <div class='form-group'>
            <label for='name'>Name</label>
            <input
                type='text'
                class='form-control'
                id='name'
                placeholder='Enter name'
                name='name'
                value='{{course.name}}'
            />
            <label for='description'>description</label>
            <input
                type='text'
                class='form-control'
                id='description'
                placeholder='Enter description'
                name='description'
                value='{{course.description}}'
            />

            <label for='image'>Image</label>
            <input type='file' class='form-control' id='image' name='image' />
        </div>

        <button type='submit' class='btn btn-primary'>Sửa khóa học</button>
    </form>
</div>