
<div class="container">
    <div class="add-course">
        <div class="left-sidebar col-3">
            <ul>
                <li><a href="/courses/create">Post Courses</a></li>
                <li class="sidebar-active"><a href="/me/stored/courses">All Courses</a></li>
                <li><a href="/me/stored/grammars">Grammar</a></li>
            </ul>
        </div>
        <div class="main-content col-9">
                <div class=''>
                    <div class='mt-4'>
                        <div class="header-title">
                            <h2>Edit Course</h2>
                            <a
                                href='/me/stored/courses'
                                class='btn btn-danger'
                                role='button'
                                aria-pressed='true'
                            >Back</a>
                        </div>
                        
                        <form method='post' action='/courses/{{course._id}}?_method=PUT' enctype='multipart/form-data'>
                            <div class='form-group'>
                                <label for='name'>Name</label>
                                <input
                                    type='text'
                                    class='form-control col-12 form-add-course'
                                    id='name'
                                    placeholder='Enter name'
                                    name='name'
                                     value='{{course.name}}'
                                />
                                <label for='description'>Description</label>
                                <input
                                    class='form-control col-12 form-add-course'
                                    iD='description'
                                    placeholder='Enter description'
                                    name='description'
                                     value='{{course.description}}'
                                ></input>

                                <label for='image'>Image</label>
                                <input type='file' class='form-control col-12 form-add-course' id='image' name='image'  style="border: 1px solid black;"/>
                            </div>

                            <button type='submit' class='btn btn-primary'>Submit</button>
                        </form> 
                    </div>
                </div>
        </div>
    </div>
</div>
