<div class='mt-4'>
    <h1>Tạo tài khoản</h1>
    <form method='post' action='create'>
        <div class='form-group'>
            <label for='username'>Username</label>
            <input
                type='text'
                class='form-control'
                id='username'
                placeholder='Enter username'
                name='username'
            />
            <label for='password'>Password</label>
            <input
                type='password'
                class='form-control'
                id='password'
                placeholder='Enter password'
                name='password'
            />

        </div>

        <button type='submit' class='btn btn-primary'>Đăng
            kí</button>
    </form>
</div>