<form method='POST' action=''>
  <div class='form-group'>
    <label for='search-input'>Từ khóa</label>
    <input
      type='text'
      class='form-control'
      id='search-input'
      name='q'
      placeholder='Nhập từ khóa...'
    />

  </div>

  <button type='submit' class='btn btn-primary'>Tìm kiếm</button>
</form>