       <style>
        .searchWord {
            display: flex;
            align-items: center;
            flex-direction: column;
        }
        section .searchForm h4 {
            display: flex;
            justify-content: center;
            font-size: 40px;
            padding: 0px 0px;
            font-weight: 500;
        }

        section .searchForm input[type=search] {
            min-width: 400px;
            margin: 10px 10px;
            padding: 10px 20px;
            background-color: #ece7e7;
            font-size: 18px;
            border: none;
            border-radius: 50px;
            outline: none;
            font-size: 22px;
            box-shadow: 2px 2px 8px var(--box-shadow-color);
            transition: box-shadow 0.5s;
        }

        section .searchForm input[type=search]:hover {
            box-shadow: 5px 5px 10px var(--box-shadow-color);
        }

        section .searchForm input[type=search]:focus {
            box-shadow: 5px 5px 10px var(--box-shadow-color);
        }

        section .searchForm input[type=button] {
            margin: 0px 20px;
            padding: 10px 40px;
            background-color: #f3b786;
            color: #fff;
            border: none;
            font-size: 20px;
            border-radius: 50px;
            box-shadow: 10px 10px 15px #a8a8a8;
            transition: box-shadow 0.5s;
            outline: none;
        }

        section .searchForm input[type=button]:hover {
            box-shadow: 5px 5px 15px #aaa;
            background-color: #f1a566;
        }

        section .searchForm input[type=reset] {
            margin: 0px 0px;
            padding: 10px 40px;
            background-color: #f3b786;
            color: #fff;
            border: none;
            font-size: 20px;
            border-radius: 50px;
            box-shadow: 10px 10px 15px #a8a8a8;
            transition: box-shadow 0.5s;
            outline: none;
        }

        section .searchForm input[type=reset]:hover {
            box-shadow: 5px 5px 15px #aaa;
            background-color: #f1a566;
        }

        section .searchResult {
            visibility: hidden;
            display: flex;
            justify-content: left;
            flex-direction: column;
            margin: 10px 400px;
        }

        section .searchResult div h4 {
        font-size: 35px;
        }

        section .searchResult div p {
            font-size: 28px;
        }
    </style>
   <section class="searchWord">
        <form class="searchForm">
            <h4>Word Dictionary</h4>
            <input type="search" name="searchBox" id="searchBox" placeholder="word to search">
            <input type="button" name="submit" value="Search" onclick="wordSearch()">
            <input type="reset" value="Reset" onclick="reloadPage()">
        </form>

        <div class="searchResult" id="searchResult">
            <div>
                <h4>Word</h4>
                <p id="word"></p>
            </div>
            <div>
                <h4>Definition</h4>
                <p id="definition"></p>
            </div>
            <div>
                <h4>Synonyms</h4>
                <p id="synonyms"></p>
            </div>
            <div>
                <h4>Antonyms</h4>
                <p id="antonyms"></p>
            </div>

            <div>
                <h4>Example</h4>
                <p id="example"></p>
            </div>
            <div>
                <h4>How To Spell?</h4>
                <p id="spell"></p>
            </div>
        </div>
    </section>
     <!----------------------FOOTER----------------------->
    <section class='footer' id='footer'>

    </section>
    <script src='/js/footer.js'></script>
<script>
    function reloadPage() {
        location.reload();
    }

    function wordSearch() {
        document.getElementById('searchResult').style.visibility = 'visible';

        var word = document.getElementById('word');
        var definition = document.getElementById('definition');
        var example = document.getElementById('example');
        var spell = document.getElementById('spell');
        var searchResult = document.getElementById('searchResult');
        var wordToSearch = document.getElementById('searchBox').value;
        var synonyms = document.getElementById('synonyms');
        var antonyms = document.getElementById('antonyms');

        var request1 = new XMLHttpRequest();
        request1.open('GET', 'https://api.dictionaryapi.dev/api/v2/entries/en/' + wordToSearch);
        request1.onload = function () {
            word.innerHTML ="";
            synonyms.innerHTML="";
            antonyms.innerHTML="";
            definition.innerHTML ="";
            example.innerHTML = "";
            spell.innerHTML ="";
            var data = JSON.parse(this.response);
            if (!data.title) {
                word.innerHTML = data[0].word;
                let meanings = data[0].meanings;
                meanings.forEach(element => {
                    var def = document.createElement("div");
                    var exam = document.createElement("div");
                    exam.innerHTML = element.definitions[0].example;
                    example.appendChild(exam);
                    def.innerHTML = '+ ('+ element.partOfSpeech + ') '+ element.definitions[0].definition;
                    if (element.definitions[0].synonyms.length > 0) {
                        element.definitions[0].synonyms.forEach(ele => {
                            var s = document.createElement("div");
                            s.innerHTML = `<li>${ele}</li>`;
                            synonyms.appendChild(s);
                        });
                    }
                    definition.appendChild(def);
                });
                // spell.innerHTML = '/'+data[0].phonetic+'/';
                var audio = document.createElement("AUDIO");
                audio.setAttribute("src", (data[0].phonetics)[0].audio);    //  set the source for audio in html tag
                audio.setAttribute("controls", "controls");
                audio.setAttribute("autoplay", "autoplay");
                spell.appendChild(audio);

                //antonyms
                //synonyms
            }
        
            else {
                console.log(this.response)
                searchResult.innerHTML = `<h2 style="height:3   50px">Can not found word!</h2>`
            }
        }
        request1.send();
}
</script>