
<div class="container">
    <div class="add-course">
        <div class="left-sidebar col-3">
            <ul>
                <li style=""><a href="/courses/create">Add Course</a></li>
                <li><a href="#">Add Lesson</a></li>
                <li><a href="/me/stored/grammars">Grammar</a></li>
            </ul>
        </div>
        <div class="main-content col-9">
                <div class=''>
                    <div class='mt-4'>
                        <div class="header-title">
                            <h2>Edit question</h2>
                            <a
                                href='/me/stored/questions/{{question.lesson_id}}'
                                class='btn btn-danger'
                                role='button'
                                aria-pressed='true'
                            >Back</a>
                        </div>
                        
                           <form method='post' action='/questions/{{question._id}}?_method=PUT'>
                                <div class='form-group'>

                                    <label for='content1'>Question</label>
                                    <textarea
                                        class='form-control col-12 form-add-course'
                                        id='content1'
                                        placeholder='Enter content'
                                        name='content'
                                    >{{question.content}}</textarea>    

                                </div>

                                <button type='submit' class='btn btn-primary'>Edit question</button>
                            </form>
                    </div>
                </div>
        </div>
    </div>
</div>
